* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: ghostwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Tambahkan ini agar elemen di dalam body tersusun secara vertikal */
}

.alert {
    width: 350px; /* Sesuaikan lebar notifikasi agar sejalan dengan lebar form login */
    margin-bottom: 20px; /* Beri jarak antara alert dan login form */
}

.login-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px; /* Sesuaikan lebar */
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
}

.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -20px;
    left: 0;
    color: #74ebd5;
    font-size: 12px;
}

.login-btn {
    width: 100%;
    background: #74ebd5;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

.login-btn:hover {
    background: #ACB6E5;
}

.signup-link {
    margin-top: 15px;
}

.signup-link a {
    color: #74ebd5;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    color: #ACB6E5;
    text-decoration: underline;
}
