<div th:fragment="content">
    <div class="card mb-3 mx-auto" style="max-width: 900px;color: #566573 ;">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center" style="padding: 15px;">
                <img src="/img/testimonials/testimonials-2.jpg" class="img-fluid rounded-circle" alt="Foto Profil" style="max-height: 200px; object-fit: cover;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Informasi Pribadi</h5>
                    <ul class="list-unstyled">
                        <li class="d-flex"><span class="label">Email</span><span class="separator"></span><span class="value">donnyfauzi55@gmail.com</span></li>
                        <li class="d-flex"><span class="label">Nomor Telepon</span><span class="separator"></span><span class="value">+6282290090036</span></li>
                        <li class="d-flex"><span class="label">Jenis Kelamin</span><span class="separator"></span><span class="value">Laki-Laki</span></li>
                        <li class="d-flex"><span class="label">Tanggal Lahir</span><span class="separator"></span><span class="value">10 Desember 1992</span></li>
                        <li class="d-flex"><span class="label">Domisili</span><span class="separator"></span><span class="value">KOTA JAKARTA BARAT</span></li>
                        <li class="d-flex"><span class="label">Lama Bekerja</span><span class="separator"></span><span class="value">2 tahun, 5 bulan</span></li>
                        <li class="d-flex"><span class="label">Harapan Gaji</span><span class="separator"></span><span class="value">Rp.7.000.000</span></li>
                        <li class="d-flex"><span class="label">Resume</span><span class="separator"></span><span class="value"><a href="/path/to/c728bdf2-07f9-422d-84af-55ab43c22bc3.pdf" target="_blank">c728bdf2-07f9-422d-84af-55ab43c22bc3.pdf</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col order-first border text-center">Data Pribadi</div>
            <div class="col border text-center">Pendidikan</div>
            <div class="col border text-center">Pengalaman Kerja</div>
            <div class="col border text-center">Pengalaman Organisasi</div>
            <div class="col border text-center">Prestasi</div>
            <div class="col order-last border text-center">Document</div>
        </div>
    </div>
</div>